@{
    ViewData["Title"] = "Utah's Game Dev Guild";

    var indies = new[]

    {
        new { Name = "Small Solar Sloth Studios", Game = "Snail Simulator", Image = "/images/SnailSimulator.png", Url = "https://snailsimulator.com/" },
        new { Name = "Familiars.io", Game = "Familiars.io", Image = "/images/Familiars.png", Url = "https://www.familiars.io/" },
        new { Name = "Kogoy Galaxy", Game = "Moniker", Image = "/images/Moniker.png", Url = "https://kogoy.com/" },
        new { Name = "Oakie Studio", Game = "It's A Game Changer", Image = "/images/ItsAGameChanger.png", Url = "https://store.steampowered.com/app/1914330/Sprites_at_Play/" },
        new { Name = "Frostbane Studios", Game = "Airlock Arena & Purrseus", Image = "/images/FrostBaneStudios.png", Url = "https://frostbane.com/" },
        new { Name = "Lotus Mountain Creative", Game = "Narcalid", Image = "/images/LotusMtn.png", Url = "https://store.steampowered.com/app/2341110/Narcalid/?beta=0" },
        new { Name = "D20 Studios", Game = "Abalon", Image = "/images/abalon.png", Url = "https://d20studios.com/" },
        new { Name = "Justin Whitchurch", Game = "Table Top Creature Tracker", Image = "/images/TTCTgameImage.jpeg", Url = "https://store.steampowered.com/app/3013280/Table_Top_Creature_Tracker/" },
        new { Name = "Flat Red Ball", Game = "The Incredible Baron", Image = "/images/TheIncredibleBaronHeader.jpg", Url = "https://store.steampowered.com/app/441510/The_Incredible_Baron/" }
    };
}

<div class="container">
    <h2 class="text-center my-4 text-glow">Utah's Game Dev Guild</h2>
    <p class="text-center mb-5 lead text-neon">Discover the Legendary Creators Shaping Utah's Gaming Realm</p>
    <div class="row">
        @foreach (var indie in indies)

        {
            <div class="col-md-4 mb-4">
                <div class="card game-card h-100">
                    <div class="card-image-wrapper">
                        <img src="@indie.Image" class="card-img-top" alt="@indie.Game">
                        <div class="card-overlay">
                            <span class="card-studio">@indie.Name</span>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@indie.Game</h5>
                        <p class="card-text flex-grow-1">A legendary quest forged by @indie.Name</p>
                        <a href="@indie.Url" class="btn btn-primary mt-auto pulse-effect" target="_blank">
                            <i class="fas fa-gamepad mr-2"></i>Embark on Adventure
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="text-center mt-5">
    <h3 class="text-glow mb-4">Join the Utah Game Developers' Guild</h3>
    <p class="lead mb-4">Are you a game developer in Utah? Showcase your epic creations here!</p>
    <a href="#" class="btn btn-lg btn-outline-primary pulse-effect">
        <i class="fas fa-user-plus mr-2"></i>Apply to Join
    </a>
</div>